version: "3.6"

services:
  rabbitmq:
    image: rabbitmq:4.2-management
    container_name: rabbitmq
    ports:
      - "5672:5672"    # AMQP
      - "15672:15672"  # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: rabbit
      RABBITMQ_DEFAULT_PASS: Emma007_
    networks:
      - app-network
    restart: unless-stopped

networks:
  app-network:
    driver: bridge
